body {
    background: #6093CA !important;
    text-align: center;
}

canvas {
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: solid black 2px;
    margin: 0;
    float: left;
}

#gameInfo, #controls{
    display: inline-block;
}

#container{
    margin-top: 50px;
}

#towerInfo{
    visibility: hidden;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
}

#towerInfo > div {
    text-align: left;
}

#gameInfo{
    margin-right: 50px;
    margin-top: 50px;
    float: left;
}

#gameInfo > div {
    text-align: left;
}