body {
    background: #6093CA !important;
}

canvas {
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#container {
    /* This could be done in one single declaration. See the extended sample. */
    margin-right: auto;
    margin-left: auto;
}

.wrapper{
    text-align: center;
    margin-top: 50px;
}

#towerInfo{
    visibility: hidden;
>>>>>>> refs/remotes/origin/master
}