section{
    margin-top: 50px;
    height: calc(100vh - (50px)); /*vult de pagina zonder header*/
    width: 100%;
}

article{
    margin-left: 75px;
    width: 35%;
    padding-top: 50px;
}

#usernameLink{
    text-decoration: none;
    color: black;
}

#homeLink{
    margin-top: 15px;
}

.jumbotron{
    float: left;
    background: url(../img/background.png) repeat; !important;
}

#username{
    text-align: center;
    padding-top: 120px;
}

#username > h2{
    margin-bottom: 75px;
}

.form-group{
    width: 25%;
    display: inline-block;
}

form{
    text-align: center;
}

#screenshotDetails{
    float: right;
    margin-top: 5%;
    margin-right: 20%;
    height: auto;
    width: 20%;
}

#screenshotLarge{
    border: solid black 3px;
    height: 100%;
    width: 100%;
}

figcaption{
    color: darkgrey;
}