html { overflow-y: hidden; }

body{
    background-color: #6093CA !important;
}

section{
    margin-top: 50px;
    height: calc(100vh - (50px)); /*vult de pagina zonder header*/
    width: 100%;
}

article{
    margin-left: 75px;
    padding-top: 150px !important;
    width: 35%;
}

#usernameLink{
    text-decoration: none;
    color: black;
}

#homeLink{
    margin-top: 15px;
}

.jumbotron{
    background-color:#6093CA;
    float: left;
}

#username{
    text-align: center;
    padding-top: 120px;
}

#username > h2{
    margin-bottom: 75px;
}

.form-group{
    width: 25%;
    display: inline-block;
}

form{
    text-align: center;
}

.nav > li > a:hover{
    box-shadow: inset 0 0 0 5px #718991;
}

.nav > li > a{
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}

#screenshotDetails{
    float: right;
    margin-top: 5%;
    margin-right: 20%;
    height: 20%;
}

#screenshotLarge{
    border: solid black 3px;
}

figcaption{
    color: darkgrey;
}