.sliderDiv{
    width: 100px;
    display: inline-block;
}

.sliderLabel{
    width: 200px;
}

#settings{
    margin-top: 15px;
    width: 50%;
    float: left;
    padding-left: 50px;
}

#tileSelect{
    width: 50%;
    float: right;
}

#container{
    margin-top: 50px;
}

#container span {
    font-size: 1.5em;
    display: inline-block;
}

#tileSelect img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 15px;
    border: 2px solid black;
}

#selectedImage{
    margin-top: 50px;
    float: Left;
}

#selectedImage img{
    width: 64px;
    height: 64px;
}

#canvasContainer{
    padding-left: 50px;
    padding-top: 50px;
    float: left;
}

#levelInfo{
    clear: both;
    display: block;
}

#levelInfo > div:first-of-type{
    display: inline-block;
    float: left;
    width: 500px;
    padding-left: 35px;
}

#levelInfo input, #levelstartcoords {
    width: 40%;
}

#levelInfo > div > div {
    margin: 15px;
}

.form-control{
    display: inline-block;
    width: 40%;
}

.levelLabel{
    width: 60%
}

#levelInfoControls .btn{
    width: 49%;
}

#levelStartX, #levelStartY{
    font-size: 1em;
}

#customLevels{
    width: 50%;
    float: right;
}

.customLevelButtonDiv{
    display: inline-block;
    float: left;
    text-align: center;
    margin: 15px;
    font-size: 2em;
}

.customLevelButtonDiv > .btn{
    font-size: 1em;
}

.customLevelButtonDiv p{
    text-align: center;
}

#overwriteLevel{
    margin-top: 15px;
    font-size: 1.5em;
    visibility: hidden;
}

#selectedCustomLevel{
    font-size: 1em;
}

#errorMessage{
    clear: both;
    color:red;
    display: block;
    font-size: 2em;
    margin-left: 35px;
}

.levelButton {
    display: none;
}

.levelButton + label {
    cursor: pointer;
    font-family: Arial, sans-serif;
    z-index: 10;
    margin: 20px 10px 10px 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: relative;
    font-size: 44px;
    letter-spacing: 0;
    color: #0e0e0e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-image: -moz-linear-gradient(#111111, #000000);
    background-image: -webkit-linear-gradient(#111111, #000000);
    background-image: linear-gradient(#111111, #000000);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
}

.levelButton + label:after {
    top: 2.4px;
    left: -25.0px;
    width: 50px;
    height: 50.0px;
    z-index: -1;
    content: '';
    cursor: pointer;
    margin-left: 49.5%;
    display: block;
    position: absolute;
    background-image: -moz-linear-gradient(#444444, #373738);
    background-image: -webkit-linear-gradient(#444444, #373738);
    background-image: linear-gradient(#444444, #373738);
    -moz-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.levelButton + label:hover {
    color: #AEAEAE;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.levelButton + label:hover:after {
    background-image: -moz-linear-gradient(#545454, #373738);
    background-image: -webkit-linear-gradient(#545454, #373738);
    background-image: linear-gradient(#545454, #373738);
}

canvas{
    margin: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: solid black 2px;
}